SpeechRecognition
pyttsx3
vosk
wikipedia
pyaudio
pyautogui
pyjokes
inputimeout
insightface
onnxruntime
pywhatkit
sketchpy --no-deps  # only if you want sketch drawings on Windows
faster-whisper
sounddevice
spicy